<!-- header start -->
<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="" >Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/home" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/obesever" routerLinkActive="active">Observer</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/operator" routerLinkActive="active">Operator</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/subject" routerLinkActive="active">Subject <span *ngIf="exclusivesubject" class="badge bg-primary">Exclusive</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/behavior" routerLinkActive="active" >Behavior Subject <span   class="badge bg-primary" *ngIf="bsubject">Exclusive</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/replay" routerLinkActive="active" >Replay Subject</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<!-- ----Header End ---- -->

<div class="container mt-3">
      <router-outlet></router-outlet>
</div>